.project-list__container {
  grid-area: projectList;
}

.project-list__title{
  display: flex;
  justify-content: center;
  margin: 5rem 0;
  width: 100%;
}

.project-list__template {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr)) ;
  grid-template-rows: repeat(auto-fill, minmax(22rem, 1fr));
  grid-gap: 2vw;
}

