.skills-sphere {
	--size: 40rem;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: var(--size);
	margin: 25rem 0;
	transform-style: preserve-3d;
	animation: block-float 12s linear infinite;
}

.skills-sphere_crushed {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: var(--size);
	margin: 25rem 0;
	transform-style: preserve-3d;
	animation: destroy 1.8s linear forwards;
}

.skills-sphere__core {
	position: absolute;
	z-index: 100;
	transform: translateZ(100rem);
}

.skills-sphere__first-circle,
.skills-sphere__second-circle {
	position: absolute;
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	width: var(--size);
	height: var(--size);
	transform-style: preserve-3d;
	
}

.skills-sphere__first-circle_crushed,
.skills-sphere__second-circle_crushed {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(7, 1fr);
	grid-template-areas: none;
	width: calc(var(--size)/8);
	height: var(--size);
	
}

.skills-sphere__first-circle_crushed {
	animation: destr-block1 1s ease-out forwards 1s;
}

.skills-sphere__second-circle_crushed {
	animation: destr-block2 1s ease-out forwards 1s;
}

.skills-sphere__first-circle {
	--start-angle: 0deg;
	--finish-angle: 360deg;
	grid-template-areas:
		". . js . ."
		". react . node-js ."
		"redux . . . express"
		". react-router . webpack ."
		". . . . .";
	animation: circle-rotation 12s linear infinite;
	animation-play-state: running;
	
}

.skills-sphere__item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(var(--size)/8);
	height: calc(var(--size)/8);
	border-radius: 1rem;
	cursor: pointer;
	animation: item-rotation 12s linear infinite;
	animation-play-state: running;
	transition: all 1s;
}

.skills-sphere__descr {
	position: absolute;
	width: max-content;
	max-width: 60vw;
	height: max-content;
	padding: 1.5rem;
	border-radius: 40%;
	visibility: hidden;
	z-index: 20;
	transition: all 2s;
}

.skills-sphere__item:hover p {
	visibility: visible;
}

.skills-sphere:hover .skills-sphere__item,
.skills-sphere:hover .skills-sphere__first-circle,
.skills-sphere:hover .skills-sphere__second-circle {
	animation-play-state: paused;
}

.skills-sphere__first-circle > div {
	--angle1: 0;
	--angle2: -90deg;
	--angle3: -180deg;
	--angle4: -270deg;
	--angle5: -360deg;
}

.js {
	grid-area: js;
}
.react {
	grid-area: react;
}
.node-js {
	grid-area: node-js;
}
.redux {
	grid-area: redux;
}
.express {
	grid-area: express;
}
.react-router {
	grid-area: react-router;
}
.webpack {
	grid-area: webpack;
}

.skills-sphere__second-circle {
	--start-angle: 90deg;
	--finish-angle: 450deg;
	grid-template-areas:
		". . . . ."
		". html . photoshop ."
		"css . . . git"
		". sass . figma ."
		". . ts . .";
	animation: circle-rotation 12s linear infinite;
}

.skills-sphere__second-circle > div {
	--angle1: -90deg;
	--angle2: -180deg;
	--angle3: -270deg;
	--angle4: -360deg;
	--angle5: -450deg;
}

.html {
	grid-area: html;
}
.photoshop {
	grid-area: photoshop;
}
.css {
	grid-area: css;
}
.git {
	grid-area: git;
}
.sass {
	grid-area: sass;
}
.figma {
	grid-area: figma;
}
.ts {
	grid-area: ts;
}

.js {
	fill: #f7df1e;
}
.react {
	fill: #61dafb;
}
.node-js {
	fill: #339933;
}
.redux {
	fill: #764abc;
}
.express {
	fill: #339933;
}
.react-router {
	fill: #ca4245;
}
.webpack {
	fill: #8dd6f9;
}
.html {
	fill: #e34f26;
}
.photoshop {
	fill: #31a8ff;
}
.css {
	fill: #1572b6;
}
.git {
	fill: #f05032;
}
.sass {
	fill: #cc6699;
}
.ts {
	fill: #3178c6;
}
.figma {
	fill: #f24e1e;
}

.bgc-white {
	box-shadow: 0 0 1rem #fff, 0 0 2rem #fff, 0 0 4rem #fff;
	background-color: #fff;
}
.bgc-black {
	box-shadow: 0 0 1rem #000, 0 0 2rem #000, 0 0 4rem #000;
	background-color: #000;
}

@keyframes circle-rotation {
	0% {
		transform: rotatey(var(--start-angle));
	}
	100% {
		transform: rotatey(var(--finish-angle));
	}
}

@keyframes block-float {
	0% {
		transform: translateY(0) rotateZ(0);
	}
	25% {
		transform: translateY(3rem) rotateZ(3deg);
	}
	50% {
		transform: translateY(0) rotateZ(0);
	}
	75% {
		transform: translateY(3rem) rotateZ(-3deg);
	}
	100% {
		transform: translateY(0) rotateZ(0);
	}
}

@keyframes item-shine {
	0% {
		box-shadow: "";
	}
	25% {
		box-shadow: 0 0 1rem #fff, 0 0 1.5rem #000, 0 0 2rem #fff;
	}
	50% {
		box-shadow: 0 0 3rem #fff, 0 0 5rem #000, 0 0 8rem #fff;
	}
	75% {
		box-shadow: 0 0 1rem #fff, 0 0 1.5rem #000, 0 0 2rem #fff;
	}
	100% {
		box-shadow: "";
	}
}

@keyframes item-rotation {
	0% {
		transform: rotatey(var(--angle1));
	}
	25% {
		transform: rotatey(var(--angle2));
	}
	50% {
		transform: rotatey(var(--angle3));
	}
	75% {
		transform: rotatey(var(--angle4));
	}
	100% {
		transform: rotatey(var(--angle5));
	}
}

@keyframes destroy {
	0% {
		--size: 0rem
	}
	100% {
		--size: 40rem
	}
}
@keyframes destroy1 {
	0% {
		--size: 0rem
	}
	100% {
		--size: 40rem
	}
}

@keyframes destr-block1 {
	0% {
		
		transform: translateX(0);
	}
	100% {
		transform: translateX(-800%);
	}
}
@keyframes destr-block2 {
	0% {
		transform: translateX(0);	
		
	}
	100% {
		transform: translateX(800%);
	}
}
