.skills-sphere {
	--size: 40rem;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
	height: max-content;
	margin: 25rem;
	transform-style: preserve-3d;
	animation: block-float 12s linear infinite;
}

.skills-sphere__first-circle,
.skills-sphere__second-circle {
	position: absolute;
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	width: var(--size);
	height: var(--size);
	transform-style: preserve-3d;
}

.skills-sphere__first-circle {
	--start-angle: 0deg;
	--finish-angle: 360deg;
	grid-template-areas:
		". . fcfi . ."
		". fcsi . fcti ."
		"fcfoi . . . fcfii"
		". fcsii . fcsei ."
		". . . . .";
	animation: circle-rotation 12s linear infinite;
	animation-play-state: running;
}

.skills-sphere__item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5rem;
	height: 5rem;
	border-radius: 1rem;
	cursor: pointer;
	animation: item-rotation 12s linear infinite;
	animation-play-state: running;
}

.skills-sphere__descr {
	position: absolute;
	width: max-content;
	max-width: 60vw;
	height: max-content;
	padding: 1.5rem;
	border-radius: 40%;
	visibility: hidden;
	z-index: 20;
}

.skills-sphere__item:hover p {
	visibility: visible;
}

.skills-sphere:hover .skills-sphere__item,
.skills-sphere:hover .skills-sphere__first-circle,
.skills-sphere:hover .skills-sphere__second-circle {
	animation-play-state: paused;
}

.skills-sphere__first-circle > div {
	--angle1: 0;
	--angle2: -90deg;
	--angle3: -180deg;
	--angle4: -270deg;
	--angle5: -360deg;
}

.skills-sphere__first-circle > .skills-sphere__item:nth-child(1) {
	grid-area: fcfi;
}
.skills-sphere__first-circle > .skills-sphere__item:nth-child(2) {
	grid-area: fcsi;
}
.skills-sphere__first-circle > .skills-sphere__item:nth-child(3) {
	grid-area: fcti;
}
.skills-sphere__first-circle > .skills-sphere__item:nth-child(4) {
	grid-area: fcfoi;
}
.skills-sphere__first-circle > .skills-sphere__item:nth-child(5) {
	grid-area: fcfii;
}
.skills-sphere__first-circle > .skills-sphere__item:nth-child(6) {
	grid-area: fcsii;
}
.skills-sphere__first-circle > .skills-sphere__item:nth-child(7) {
	grid-area: fcsei;
}

.skills-sphere__second-circle {
	--start-angle: 90deg;
	--finish-angle: 450deg;
	grid-template-areas:
		". . . . ."
		". scfi . scsi ."
		"scti . skills-sphere__photo . scfoi"
		". scfii . scsii ."
		". . scsei . .";
	animation: circle-rotation 12s linear infinite;
}

.skills-sphere__second-circle > div {
	--angle1: -90deg;
	--angle2: -180deg;
	--angle3: -270deg;
	--angle4: -360deg;
	--angle5: -450deg;
}

.skills-sphere__second-circle > .skills-sphere__item:nth-child(1) {
	grid-area: scfi;
}
.skills-sphere__second-circle > .skills-sphere__item:nth-child(2) {
	grid-area: scsi;
}
.skills-sphere__second-circle > .skills-sphere__item:nth-child(3) {
	grid-area: scti;
}
.skills-sphere__second-circle > .skills-sphere__item:nth-child(4) {
	grid-area: scfoi;
}
.skills-sphere__second-circle > .skills-sphere__item:nth-child(5) {
	grid-area: scfii;
}
.skills-sphere__second-circle > .skills-sphere__item:nth-child(6) {
	grid-area: scsii;
}
.skills-sphere__second-circle > .skills-sphere__item:nth-child(7) {
	grid-area: scsei;
}

.paused {
	animation-play-state: paused;
}

.js {
	fill: #f7df1e;
}
.react {
	fill: #61dafb;
}
.node-js {
	fill: #339933;
}
.redux {
	fill: #764abc;
}
.express {
	fill: #339933;
}
.react-router {
	fill: #ca4245;
}
.webpack {
	fill: #8dd6f9;
}
.html {
	fill: #e34f26;
}
.photoshop {
	fill: #31a8ff;
}
.css {
	fill: #1572b6;
}
.git {
	fill: #f05032;
}
.sass {
	fill: #cc6699;
}
.ts {
	fill: #3178c6;
}
.figma {
	fill: #f24e1e;
}

.bgc-white {
	box-shadow: 0 0 1rem #fff, 0 0 2rem #fff, 0 0 4rem #fff;
	background-color: #fff;
}
.bgc-black {
	box-shadow: 0 0 1rem #000, 0 0 2rem #000, 0 0 4rem #000;
	background-color: #000;
}

@keyframes circle-rotation {
	0% {
		transform: rotatey(var(--start-angle));
	}
	100% {
		transform: rotatey(var(--finish-angle));
	}
}

@keyframes block-float {
	0% {
		transform: translateY(0) rotateZ(0);
	}
	25% {
		transform: translateY(3rem) rotateZ(3deg);
	}
	50% {
		transform: translateY(0) rotateZ(0);
	}
	75% {
		transform: translateY(3rem) rotateZ(-3deg);
	}
	100% {
		transform: translateY(0) rotateZ(0);
	}
}

@keyframes item-shine {
	0% {
		box-shadow: "";
	}
	25% {
		box-shadow: 0 0 1rem #fff, 0 0 1.5rem #000, 0 0 2rem #fff;
	}
	50% {
		box-shadow: 0 0 3rem #fff, 0 0 5rem #000, 0 0 8rem #fff;
	}
	75% {
		box-shadow: 0 0 1rem #fff, 0 0 1.5rem #000, 0 0 2rem #fff;
	}
	100% {
		box-shadow: "";
	}
}

@keyframes item-rotation {
	0% {
		transform: rotatey(var(--angle1));
	}
	25% {
		transform: rotatey(var(--angle2));
	}
	50% {
		transform: rotatey(var(--angle3));
	}
	75% {
		transform: rotatey(var(--angle4));
	}
	100% {
		transform: rotatey(var(--angle5));
	}
}
