header {
	grid-area: header;
	display: grid;
	grid-template-columns: 2fr 8fr;
	grid-template-rows: 10vh minmax(90vh, max-content);
	grid-template-areas:
		"logo nav"
		"figure figure";
	width: 100%;
	height: 100%;
}

.nav-box {
	position: fixed;
	left: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 17vw;
	height: 10vh;
	box-sizing: border-box;
	background-color: var(--bgc);
	z-index: 19;
}

.mobile-burger {
	visibility: hidden;
}

nav {
	grid-area: nav;
	display: flex;
	align-items: center;
	padding: 0;
	width: 80%;
}

.nav-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: end;
	justify-items: center;
	align-items: center;
	width: 100%;
	padding-left: 0;
}

li {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.logo {
	display: flex;
	align-items: center;
}

.swithces {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.mobile-burger > div {
	opacity: 0;
}

.header__figure {
	grid-area: figure;
	position: relative;
	display: grid;
	grid-template-columns: minmax(30vw, 1fr) minmax(30vw, 1fr);
	column-gap: 4rem;
	grid-template-areas: "header-greatings header-image";
	margin: 10vh 0;
}

.header__img {
	grid-area: header-image;
	position: absolute;
	border-radius: 2rem;
	width: 100%;
}

.header__figcaption {
	grid-area: header-greatings;
}

@media (max-width: 750px) {
	header {
		grid-template-areas:
			"logo logo"
			"figure figure";
		margin-bottom: 5rem;
	}

	.logo {
	}

	.nav-list__mobile {
		position: fixed;
		left: 0;
		top: 0;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, max-content);
		justify-items: center;
		align-items: center;
		width: 100vw;
		height: 120vh;
		background-color: var(--bgc);
		z-index: 10;
		transition: all 1s;
		transform: translateY(-200vh);
	}

	.nav-list__mobile_active {
		position: fixed;
		left: 0;
		top: 0;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, max-content);
		justify-items: center;
		align-items: center;
		width: 100vw;
		height: 120vh;
		background-color: var(--bgc);
		z-index: 10;
		transition: all 1s;
		transform: translateY(0);
	}

	li {
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		margin: 5rem 0 0;
	}
	.swithces {
		width: 50%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.mobile-burger {
		position: fixed;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		right: 15vw;
		top: 1.5rem;
		z-index: 12;
		visibility: visible;
	}

	.mobile-burger__active {
		position: fixed;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		right: 15vw;
		top: 1.5rem;
		z-index: 12;
	}

	.mobile-burger > div,
	.mobile-burger::before,
	.mobile-burger::after {
		content: "";
		width: 4rem;
		height: 0.5rem;
		border-radius: 1rem;
		background-color: var(--tc);
		margin: 0.2rem;
	}

	.mobile-burger__active > div,
	.mobile-burger__active::before,
	.mobile-burger__active::after {
		content: "";
		width: 4rem;
		height: 0.5rem;
		border-radius: 1rem;
		background-color: var(--tc);
		margin: 0.2rem;
		transition: 0.5s;
	}

	.mobile-burger::before {
		transform: translateY(0.9rem) rotate(45deg);
		transition: 1s;
	}

	.mobile-burger::after {
		transform: translateY(-0.9rem) rotate(-45deg);
		transition: 1s;
	}

	.header__figure {
		display: grid;
		grid-template-columns: minmax(30vw, 1fr);
		grid-template-rows: repeat(2, max-content);
		grid-template-areas: "header-greatings" "header-image";
		margin: 10vh 0;
	}

	.header__img {
		visibility: hidden;
	}
}
