header {
	grid-area: header;
	display: grid;
	grid-template-columns: 2fr 8fr;
	grid-template-rows: 10vh minmax(90vh, max-content);
	grid-template-areas:
		"logo nav"
		"figure figure";
	width: 100%;
	min-height: 100%;
	height: max-content;
	max-height: max-content;
}

.nav-box {
	position: fixed;
	left: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 17vw;
	height: 8rem;
	box-sizing: border-box;
	background-color: var(--bgc);
	transition: 1s;
	z-index: 19;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	width: 6rem;
}

.header__figure {
	grid-area: figure;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, minmax(30vw, 1fr));
	column-gap: 4rem;
	grid-template-areas: "header-greatings header-image";
	margin: 10vh 0;
}

.header__img {
	grid-area: header-image;
	background-image: url("../../../public/myPhoto.jpg");
	
	border-radius: 2rem;
	width: 100%;
}

.header__figcaption {
	grid-area: header-greatings;
}

@media (max-width: 1000px) {
	.header__figure {
		grid-template-columns: minmax(30vw, 1fr);
		grid-template-rows: repeat(2, max-content);
		grid-template-areas: "header-greatings" "header-image";
	}
}
@media (max-width: 768px) {
	header {
		grid-template-areas:
			"logo logo"
			"figure figure";
		margin-bottom: 5rem;
	}

	.header__img {
		margin-top: 5rem;
	}
}
