header {
	grid-area: header;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 10vh 90vh;
	grid-template-areas:
		"nav"
		"figure";

	width: 100%;
	height: 100%;
}

nav {
	grid-area: nav;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 0;
}

.nav__list {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-items: center;
	align-items: center;
	width: 100%;
	padding-left: 0;
}

li {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.logo {
	width: 100%;
	display: flex;
	justify-items: start;
}

.swithces {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.header__figure {
	grid-area: figure;
	position: relative;
	display: grid;
	grid-template-columns: minmax(30vw, 1fr) minmax(30vw, 1fr);
	column-gap: 4rem;
	grid-template-areas: "header-greatings header-image";
	margin: 10vh 0;
}

.header__img {
	grid-area: header-image;
	position: absolute;
	border-radius: 2rem;
	width: 100%;
}

.header__figcaption {
	grid-area: header-greatings;
}
