html {
    font-size: 10px;
}

body {
    transition: all 1s;
}
.app {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 100vh 60vh 50vh max-content 20vh;
    grid-template-areas: 
        
        '. header .'
        '. aboutMe . '
        '. skills .'
        '. projectList .'
        ;
        
    width: 100vw;
    min-height: 100vh;
}

.dark {
    background-color: black;
    color: azure;
    transition: all 1s;
}

.words {
    text-shadow: 0 0 1em rgb(124, 124, 160), 0 0 0.2em rgb(141, 141, 165);
    opacity: 1;
    transition: opacity 0.25s;
}

.transparent {
    opacity: 0;
    transition: opacity 0.25s;
}