.about-me {
    grid-area: aboutMe;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me__description {
    width: 40%;
    margin: 0 auto;
    width: 33%;
    text-align: justify;
}

.about-me__left-photo, .about-me__right-photo{
    position: relative;
    width: 33%;
    height: 100%;
    background: url('../../../public/images/myPhoto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.about-me__left-mask {
    width: 100%;
    height: 100%;
    mask-repeat: no-repeat;
    mask-image: url('../../../public/images/homeImg.png');
    mask-size: 20rem;
    mask-position: 10rem 10rem;
    
}
